<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome</p>
<p>First Name</p>
<p>Last Name</p>
<p>Profession</p>
<h3>Skill Box</h3>
<h3>Location:</h3>
<h3>geoNotes:</h3>
<h3>geoMoments:</h3>
<p></p>

<div class="zone-portal">
  <div class="floor-one">
    <ul>
      <li><a href="/academy">Academy</a></li>
      <li><a href="/business">Business</a></li>
      <li><a href="/shopping">Shopping</a></li>
      <li><a href="/leisure">Leisure</a></li>
    </ul>
  </div>
  <div class="floor-two">
    <ul>
      <li><a href="/medical">Medical</a></li>
      <li><a href="/financial">Financial</a></li>
      <li><a href="/creation">Creation</a></li>
      <li><a href="/event">Events</a></li>
    </ul>
  </div>
</div>
<div class="bottom-spread-menu">
  <div class="spread-bar">
    <div class="search">
      <input type="text" placeholder="What can we help you find?"><button>Search</button>
    </div>

    <div class="spreadspace">
      <a href="/spreadspace">SpreadSpace</a>
    </div>
  </div>
  <ul>
    
    
    <li><a href="/covid-ar">COVID-AR</a></li>
    <li><a href="/socialspread">SocialSpread</a></li>
    <li><a href="/news">News Room</a></li>
    <li><a href="/storage">Storage</a></li>
  </ul>
</div>
  
  <a href="/users/logout" class="btn btn-secondary">Logout</a>
  <a href="https://widespread.world/ar-spread" class="btn btn-secondary"
  >COVID-AR</a
  >
  <a href="https://widespread.world" class="btn btn-secondary">Enter VR</a>
  